.log {
  min-width: 300px;
}

.log-list {
  padding: 0;
}

.log-item {
  list-style: none;
  display: flex;
  margin-bottom: 1px;
}

.log-type {
  min-width: 5px;
  margin-right: 5px;

  &-log {
    background: slategray;
  }
  &-warning {
    background: yellow;
  }
  &-error {
    background: #dc3545;
  }
}

.log-timestamp {
  color: lightgray;
  font-size: 12px;
  margin-right: 5px;
  flex: 0 0 80px;
}

.log-message {
  font-size: 12px;

  &-log {
    color: black
  }
  &-warning {
    color: black;
  }
  &-error {
    color: #dc3545;
  }
}

.meta-bar {
  margin-left: 20px;
}

.story {
  padding-top: 20px;
}